#base templates

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Products Dashboard UI</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="asset/bootstrap.min.css">
<link rel="stylesheet" href="asset/style.css">

</head>
<body> 
    <div class="app-container>
        
    {% include "zone_gauche.html" %}

        <div class="app-content">
            {% include "hearder.html" %}
        </div>
        {% include "hearder2.html" %}
    </div>

    <script  src="./script.js"></script>
</body>
</html>